<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/admin-index.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">youliroam管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    youliroam
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/admin/account/logout">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul id="menu_ul" class="layui-nav layui-nav-tree"  lay-filter="menu">
                <!--<li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd  class="layui-nav-item">
                            <a href="javascript:;">超链接</a>
                            <dl class="layui-nav-child ">
                                <dd><a href="javascript:;">11一</a></dd>
                                <dd><a href="javascript:;">22</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe src="/admin/home/home" id="home_ifram"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © youliroam.cn - 底部固定区域
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

        get_menu();
        function get_menu(){
            $.ajax({
                type:'post',
                url:"/admin/home/menu",
                data: {},
                success:function(result){
                    var json_result = JSON.parse(result);
                    if(json_result.code == 1){
                        //获取验证码成功
                        menu_one(json_result.data);
                    }else{
                        console.log(json_result);
                    }
                }
            });
        }

        //菜单，把第一层添加进去
        function menu_one(menu){
            console.log(menu);
            var html = '';
            $.each(menu,function(i,v){
                html += '<li class="layui-nav-item">\n' +
                    '                    <a href="javascript:;">'+v.name+'</a>';

                var children_html = '';
                //查看是否存在子菜单
                if(v.child.length > 0){
                    //存在子菜单
                    children_html = children_menu(v.child);
                }
                children_html += ' </li> ';
                html += children_html;
            });
            $('#menu_ul').append(html);

            element.render();
        }

        //菜单，遍历下面的子菜单
        function children_menu(children_arr){
            var html = '<dl class="layui-nav-child">';
            $.each(children_arr,function(i,v){
                html += '<dd><a href="javascript:;">'+v.name+'</a>';
                var children_html = '';
                //查看是否存在子菜单
                if(v.child.length > 0){
                    //存在子菜单
                    children_html = children_menu(v.child);
                }
                children_html += '</dd>';
                html += children_html;
            });
            html += ' </dl> ';
            console.log(html);
            return html;
        }
    });
</script>
</body>
</html>