<!DOCTYPE html>
<html lang="en">
<head>
    {include file="/common/iframe_head" /}
</head>
<body>

<style>
    .iframe_content{
        padding-top:20px;
    }
</style>

<div class="iframe_box">
    <div>
        导航：xx/xx
    </div>
    <div class="iframe_content">
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">原密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="old_password" required  lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="new_password" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="confirm_password" required lay-verify="required" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn queren-btn" lay-filter="formDemo">确定</button>
                    <button type="reset" class="layui-btn quxiao-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
{include file="/common/iframe_bottom" /}
<script>
    $(function(){
        layui.use(['element','layer'], function(){
            var element = layui.element;
            var layer = layui.layer;

            $('.queren-btn').on('click',function(){
                var old_password = $("[name='old_password']").val().trim();
                var new_password = $("[name='new_password']").val().trim();
                var confirm_password = $("[name='confirm_password']").val().trim();
                if(old_password.length == 0){
                    layer.msg('请输入原密码',{icon: 5});
                    return;
                }if(new_password.length == 0){
                    layer.msg('请输入新密码',{icon: 5});
                    return;
                }if(confirm_password.length == 0){
                    layer.msg('请再次输入新密码',{icon: 5});
                    return;
                }if(new_password != confirm_password){
                    layer.msg('两次密码不一致',{icon: 5});
                    return;
                }
                var json_data = {
                    old_password:old_password,
                    new_password:new_password,
                    confirm_password:confirm_password
                };
                $.ajax({
                    type:'post',
                    url:"/admin/personal/password",
                    data: json_data,
                    success:function(result){
                        var json_result = JSON.parse(result);
                        if(json_result.code == 1){
                            layer.msg('修改成功', {icon: 1});
                        }else{
                            layer.msg(json_result.info,{icon: 5});
                        }
                        clear_val();
                    }
                });
            });

            $('.quxiao-btn').on('click',function(){
                clear_val();
            });



            function clear_val(){
                $("[name='old_password']").val('');
                $("[name='new_password']").val('');
                $("[name='confirm_password']").val('');
            }

        });
    });


</script>
</html>