<header id="header">
    <h1 class="site-title"><a href="/#1" rel="home"><img src="/static/youli/img/yl-logo.jpg" alt="YOULI_LOGO"></a></h1>
    <p class="site-description">漫游在网络丛林中的程序猿</p>
    <nav class="nav-container group" id="nav-header">
        <div class="nav-toggle"><i class="fa fa-bars"></i></div>
        <div class="nav-text"><!-- put your mobile menu text here --></div>
        <div class="nav-wrap container">
            <ul id="menu-header" class="nav container-inner group">
                <li id="menu-item-4114" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item ">
                    <a href="/" aria-current="page">首页</a>
                </li>
                <li id="menu-item-4116" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ">
                    <a href="javascript:void(0);">技术文章</a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="menu-item-4113" class="menu-item menu-item-type-taxonomy menu-item-object-category ">
                            <a href="javascript:void(0);">linux</a></li>
                        <li id="menu-item-4103" class="menu-item menu-item-type-taxonomy menu-item-object-category ">
                            <a href="javascript:void(0);">mysql</a></li>
                        <li id="menu-item-4104" class="menu-item menu-item-type-taxonomy menu-item-object-category ">
                            <a href="javascript:void(0);">php</a></li>
                        <li id="menu-item-4106"  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children ">
                            <a href="javascript:void(0);">其他</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-4107" class="menu-item menu-item-type-custom menu-item-object-custom ">
                                    <a href="javascript:void(0);">环境搭建</a></li>
                                <li id="menu-item-4108" class="menu-item menu-item-type-custom menu-item-object-custom ">
                                    <a href="javascript:void(0);">性能优化</a></li>
                                <li id="menu-item-4109" class="menu-item menu-item-type-custom menu-item-object-custom ">
                                    <a href="javascript:void(0);">软件使用</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-4117"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="javascript:void(0);">其他文章</a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="menu-item-4138" class="menu-item menu-item-type-post_type menu-item-object-page "><a  href="javascript:void(0);">生活趣事</a>
                        </li>
                        <li id="menu-item-4139" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="javascript:void(0);">所见所闻
                        </a></li>
                    </ul>
                </li>
                <li id="menu-item-4141" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="javascript:void(0);">热点文章</a></li>
            </ul>
        </div>
    </nav><!--/#nav-header-->
    <div id="profile" class="group">
        <div id="profile-inner">
            <div id="profile-image"><img src="/static/youli/img/yuanquan.jpg" alt=""></div>
            <div id="profile-name">YOULI</div>
            <div id="profile-description">
                入了互联网的大坑，必须坚持爬出来
            </div>
        </div>
    </div>

    <div id="move-sidebar-header">
        <div class="sidebar s1">
            <div class="sidebar-content">
                <div id="recent-comments-4" class="widget widget_recent_comments">
                    <!--<h3 class="group"><span>Recent Comments</span></h3>
                    <ul id="recentcomments">
                        <li class="recentcomments"><span class="comment-author-link">Alexander</span> on <a
                                href="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/#comment-14">Why
                            I Moved From A Square To A Circle</a></li>
                        <li class="recentcomments"><span class="comment-author-link">Norah Jones</span> on <a
                                href="http://demo.alx.media/indite/2013/08/14/designing-the-most-desirable-product/#comment-3">Designing
                            The Most Desirable Product</a></li>
                        <li class="recentcomments"><span class="comment-author-link">Lisa</span> on <a
                                href="http://demo.alx.media/indite/2013/08/15/the-issue-with-global-node-packages/#comment-25">The
                            Issue With Global Node Packages</a></li>
                        <li class="recentcomments"><span class="comment-author-link">Sarah</span> on <a
                                href="http://demo.alx.media/indite/2013/07/16/gallery-format-post/#comment-2">Gallery
                            Format Post</a></li>
                        <li class="recentcomments"><span class="comment-author-link">Alexander</span> on <a
                                href="http://demo.alx.media/indite/2013/09/13/designing-for-kids-is-not-childs-play/#comment-28">Designing
                            for Kids Is Not Child’s Play</a></li>
                    </ul>-->
                </div>
                <div id="recent-posts-4" class="widget widget_recent_entries">
                    <!--<h3 class="group"><span>Recent Posts</span></h3>
                    <ul>
                        <li>
                            <a href="http://demo.alx.media/indite/2019/07/07/combining-design-and-psychology-to-change-behavior/">Combining
                                Design And Psychology To Change Behavior</a>
                        </li>
                        <li>
                            <a href="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/">Why
                                I Moved From A Square To A Circle</a>
                        </li>
                        <li>
                            <a href="http://demo.alx.media/indite/2014/07/16/leaner-responsive-images-with-client-hints/">Leaner
                                Responsive Images With Client Hints</a>
                        </li>
                        <li>
                            <a href="http://demo.alx.media/indite/2014/06/23/the-new-smashing-mystery-riddle-have-you-figured-it-out-yet/">The
                                New Smashing Mystery Riddle: Have You Figured It Out Yet?</a>
                        </li>
                        <li>
                            <a href="http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/">Eliminating
                                Known Vulnerabilities With Snyk</a>
                        </li>
                    </ul>-->
                </div>
                <div id="search-4" class="widget widget_search"><h3 class="group"><span>Search</span></h3>
                    <form method="get" class="searchform themeform" action="/index/index/index">
                        <div>
                            <input type="text" class="search" name="keyword"
                                   onblur="if(this.value==&#39;&#39;)this.value=&#39;To search type and hit enter&#39;;"
                                   onfocus="if(this.value==&#39;To search type and hit enter&#39;)this.value=&#39;&#39;;"
                                   value="To search type and hit enter">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header><!--/#header-->

<div class="sidebar s2 group">
    <div class="toggle-search"><i class="fa fa-search"></i></div>
    <div class="search-expand">
        <div class="search-expand-inner">
            <form method="get" class="searchform themeform" action="/index/index/index">
                <div>
                    <input type="text" class="search" name="keyword"
                           onblur="if(this.value==&#39;&#39;)this.value=&#39;To search type and hit enter&#39;;"
                           onfocus="if(this.value==&#39;To search type and hit enter&#39;)this.value=&#39;&#39;;"
                           value="To search type and hit enter">
                </div>
            </form>
        </div>
    </div>
    <ul class="social-links">
        <li><a rel="nofollow" class="social-tooltip" title="Facebook" href="/#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a rel="nofollow" class="social-tooltip" title="Twitter" href="/#"><i class="fab fa-twitter"></i></a></li>
        <li><a rel="nofollow" class="social-tooltip" title="Google" href="/#"><i class="fab fa-google"></i></a></li>
        <li><a rel="nofollow" class="social-tooltip" title="Dribbble" href="/#"><i  class="fab fa-dribbble"></i></a></li>
        <li><a rel="nofollow" class="social-tooltip" title="GitHub" href="/#"><i class="fab fa-github"></i></a></li>
    </ul>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/youli/resource/scripts.js"></script>
<script>
    $(function(){

        //获取菜单
        get_menu();
        function get_menu(){
            $.ajax({
                type:'post',
                url:"/index/index/menu",
                data: {},
                success:function(result){
                    var json_result = JSON.parse(result);
                    console.log(json_result);
                    if(json_result.code == 1){
                        menu_one(json_result.data);
                    }else{
                        console.log(json_result);
                    }
                }
            });
        }

        //菜单，把第一层添加进去
        function menu_one(menu){
            var html = '';
            $.each(menu,function(i,v){
                if(v.child.length > 0){
                    html +='<li id="'+v.id+'" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">\n' +
                        '                    <a href="/" >'+v.menu_name+'</a>';
                }else{
                    html +='<li id="'+v.id+'" class="menu-item menu-item-type-custom menu-item-object-custom">' +
                        '                    <a href="/" >'+v.menu_name+'</a>';
                }

                var children_html = '';
                //查看是否存在子菜单
                if(v.child.length > 0){
                    //存在子菜单
                    children_html = children_menu(v.child);
                }
                children_html += '</li>';
                html += children_html;
            });
            //$('#menu-header').html('');
            //$('#menu-header').append(html);
        }

        //菜单，遍历下面的子菜单
        function children_menu(children_arr){
            var html = '<ul class="sub-menu" style="display: none;">';
            $.each(children_arr,function(i,v){
                html += '<li id="'+v.id+'" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/#">'+v.menu_name+'</a>';
                var children_html = '';
                //查看是否存在子菜单
                if(v.child.length > 0){
                    //存在子菜单
                    children_html = children_menu(v.child);
                }
                children_html += '</li>';
                html += children_html;
            });
            html += ' </ul> ';
            return html;
        }
    });
</script>
