<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta name="baidu_union_verify" content="96cd64de75fb2436e609ed9d235585a5">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="icon" href="/static/youli/img/yl-logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/youli/img/yl-logo.ico" type="image/x-icon">
    <link rel="stylesheet" id="font-awesome-css" href="/static/youli/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="indite-style-css" href="/static/youli/resource/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="youli-css" href="/static/youli/resource/youli-index.css" type="text/css" media="all">
    <style id="indite-style-inline-css" type="text/css">
        #wrapper{
            height:auto;
        }
        .entry-content{
            max-height:200px;
        }
    </style>
    <style>
        .yl_pages .yl_current_page{
            background-color: white;
        }
    </style>
</head>
<body class="home blog wp-custom-logo col-2cr full-width skew-active logged-out">
<div id="wrapper">
    <div id="wrapper-inner">
        {include file="../app/index/view/common/menu.html" /}
        <!--主页面-->
        <div class="main" id="page">
            <div class="main-inner group">
                <div class="content yl_contents">
                    {volist name="data" id="data"}
                    <article class="post-68 post type-post status-publish format-image has-post-thumbnail hentry category-general category-travel post_format-post-format-image">
                        <div class="post-wrapper group">
                            <div class="entry-media">
                                <a href="/">
                                    <div class="image-container">
                                        <img width="720" height="405"
                                             src="{$data.cover}"
                                             class="attachment-indite-large size-indite-large wp-post-image" alt=""
                                             srcset="{$data.cover} 720w, {$data.cover} 520w"
                                             sizes="(max-width: 720px) 100vw, 720px"></div>
                                </a>
                            </div>
                            <header class="entry-header group">
                                <h2 class="entry-title"><a href="/index/article/detail?id={$data.id}" rel="bookmark">{$data.title}</a></h2>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="far fa-calendar"></i>{$data.create_time}</span>
                                    <span class="entry-comments"><i class="far fa-comment"></i><a
                                            href="">{$data.view}</a></span>
                                    <span class="entry-author"><i class="far fa-user"></i><a
                                            href="javascript:void(0);" title="rabbitmq"
                                            rel="author">{$data.author}</a></span>
                                    <span class="entry-category"><a href="javascript:void(0);" rel="category tag">{$data.menu_name}</a></span>
                                </div>
                            </header>
                            <div class="entry-content">
                                <div class="entry themeform">
                                    <p>
                                        <?php echo $data['content'];?>
                                    </p>
                                    <p>
                                        <a href="/index/article/detail?id={$data.id}" class="more-link">Continue reading…</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </article>
                    {/volist}
                </div>
                <nav class="pagination group">
                    <div class="wp-pagenavi" role="navigation">
                        <span class="pages">Page 1 of 4</span>
                        <!--<a class="previouspostslink" rel="prev" href="javascript:void(0);">«</a>
                        <span aria-current="page" class="current page">1</span>
                        <a class="page larger" title="Page 2" href="javascript:void(0);">2</a>
                        <a class="page larger" title="Page 3" href="javascript:void(0);">3</a>
                        <a class="page larger" title="Page 4" href="javascript:void(0);">4</a>
                        <a class="nextpostslink" rel="next" href="javascript:void(0);">»</a>-->
                        <div class="yl_pages">

                        </div>
                    </div>
                </nav>
                <div id="move-sidebar-content"></div>
            </div>
            <footer id="footer">
                <!--             <div id="footer-widgets">

                                 <div class="pad group">

                                     <div class="footer-widget-1 grid one-half ">
                                         <div id="recent-comments-6" class="widget widget_recent_comments"><h3 class="group"><span>Recent Comments</span>
                                         </h3>
                                             <ul id="recentcomments-6">
                                                 <li class="recentcomments"><span class="comment-author-link">Alexander</span> on <a
                                                         href="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/#comment-14">Why
                                                     I Moved From A Square To A Circle</a></li>
                                                 <li class="recentcomments"><span class="comment-author-link">Norah Jones</span> on
                                                     <a href="http://demo.alx.media/indite/2013/08/14/designing-the-most-desirable-product/#comment-3">Designing
                                                         The Most Desirable Product</a></li>
                                                 <li class="recentcomments"><span class="comment-author-link">Lisa</span> on <a
                                                         href="http://demo.alx.media/indite/2013/08/15/the-issue-with-global-node-packages/#comment-25">The
                                                     Issue With Global Node Packages</a></li>
                                                 <li class="recentcomments"><span class="comment-author-link">Sarah</span> on <a
                                                         href="http://demo.alx.media/indite/2013/07/16/gallery-format-post/#comment-2">Gallery
                                                     Format Post</a></li>
                                                 <li class="recentcomments"><span class="comment-author-link">Alexander</span> on <a
                                                         href="http://demo.alx.media/indite/2013/09/13/designing-for-kids-is-not-childs-play/#comment-28">Designing
                                                     for Kids Is Not Child’s Play</a></li>
                                             </ul>
                                         </div>
                                     </div>


                                     <div class="footer-widget-2 grid one-half last">
                                         <div id="recent-posts-6" class="widget widget_recent_entries"><h3 class="group"><span>Recent Posts</span>
                                         </h3>
                                             <ul>
                                                 <li>
                                                     <a href="http://demo.alx.media/indite/2019/07/07/combining-design-and-psychology-to-change-behavior/">Combining
                                                         Design And Psychology To Change Behavior</a>
                                                 </li>
                                                 <li>
                                                     <a href="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/">Why
                                                         I Moved From A Square To A Circle</a>
                                                 </li>
                                                 <li>
                                                     <a href="http://demo.alx.media/indite/2014/07/16/leaner-responsive-images-with-client-hints/">Leaner
                                                         Responsive Images With Client Hints</a>
                                                 </li>
                                                 <li>
                                                     <a href="http://demo.alx.media/indite/2014/06/23/the-new-smashing-mystery-riddle-have-you-figured-it-out-yet/">The
                                                         New Smashing Mystery Riddle: Have You Figured It Out Yet?</a>
                                                 </li>
                                                 <li>
                                                     <a href="http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/">Eliminating
                                                         Known Vulnerabilities With Snyk</a>
                                                 </li>
                                             </ul>
                                         </div>
                                     </div>

                                 </div>&lt;!&ndash;/.pad&ndash;&gt;

                             </div>&lt;!&ndash;/#footer-widgets&ndash;&gt;
             -->
                <div id="footer-bottom">
                    <a id="back-to-top" href="/#"><i class="fa fa-angle-up"></i></a>
                    <div class="pad group">
                        <div class="grid one-full">
                            <img id="footer-logo" src="/static/youli/img/yl-logo-1.0-200.png" alt="Indite">
                        </div>
                        <div class="grid one-full">
                            <ul class="social-links">
                                <li><a rel="nofollow" class="social-tooltip" title="baidu"
                                       href="/#11"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a rel="nofollow" class="social-tooltip" title="qq"
                                       href="/#12"><i class="fab fa-twitter"></i></a></li>
                                <li><a rel="nofollow" class="social-tooltip" title="163"
                                       href="/#13"><i class="fab fa-google"></i></a></li>
                                <li><a rel="nofollow" class="social-tooltip" title="taobao"
                                       href="/#14"><i class="fab fa-dribbble"></i></a></li>
                                <li><a rel="nofollow" class="social-tooltip" title="360"
                                       href="/#15"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="grid one-full">
                            <div id="copyright">
                                <p>Copyright youliroam All Rights Reserved</p>
                                <p><a href="http://www.beian.miit.gov.cn">粤ICP备20030391号</a></p>
                                <div style="width:300px;margin:0 auto; padding:20px 0;">
                                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030602004525" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                                        <img src="/static/youli/img/gonganbeian.png" style="float:left;"/>
                                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44030602004525号</p></a>
                                </div>
                                </ul>
                            </div>
                        </div><!--/.pad-->
                    </div><!--/#footer-bottom-->
            </footer><!--/#footer-->
        </div><!--/.main-->
    </div><!--/#wrapper-inner-->
</div><!--/#wrapper-->

</body>

<script>

    $(function(){

        var init_page = 1;   //初始化页码
        var init_limit = 5;  //初始化页大小
        var init_total_page = 0;  //初始化总页数
        var init_total_count = "<?php echo $count;?>";  //总数量

        var count = parseInt(init_total_count);
        var total_page = Math.ceil(count/init_limit);
        init_page_html(total_page);
        //get_list(init_page,init_limit);
        function get_list(_page,_limit){
            var json_data = {
                page:_page,
                limit:_limit
            };
            $.ajax({
                type:'get',
                url:"/index/article/list",
                data: json_data,
                success:function(result){
                    var json_result = JSON.parse(result);
                    if(json_result.code == 1){
                        $('.yl_contents').html('');
                        var html = '';
                        $.each(json_result.data.data,function(i,v){
                            html += '<article id="post-2876"'+i+
                                'class="status-publish format-image has-post-thumbnail hentry category-general category-mixed post_format-post-format-image">' +
                                '                        <div class="post-wrapper group">' +
                                '                            <div class="entry-media">' +
                                '                                <a href="javascript:void(0);">' +
                                '                                    <div class="image-container">' +
                                '                                        <img width="720" height="405"' +
                                '                                             src="'+v.cover+'"' +
                                '                                             class="attachment-indite-large size-indite-large wp-post-image" alt=""\n' +
                                '                                             srcset="'+v.cover+' 720w, '+v.cover+' 520w"\n' +
                                '                                             sizes="(max-width: 720px) 100vw, 720px"></div> </a>' +
                                '                            </div>' +
                                '                            <header class="entry-header group">' +
                                '                                <h2 class="entry-title"><a href="/index/article/detail?id='+v.id+'" rel="bookmark">'+v.title+'</a></h2> ' +
                                '                                <div class="entry-meta">' +
                                '                                    <span class="entry-date"><i class="far fa-calendar"></i>'+v.create_time+'</span>\n' +
                                '                                    <span class="entry-comments"><i class="far fa-comment"></i><a href="javascript:void(0);">'+v.view+'</a></span>' +
                                '                                    <span class="entry-author"><i class="far fa-user"></i><a href="javascript:void(0);" title="'+v.author+'" rel="author">'+v.author+'</a></span>\n' +
                                '                                    <span class="entry-category"><a href="javascript:void(0);" rel="category tag">'+v.menu_name+'</a></span>' +
                                '                                </div></header>' +
                                '                            <div class="entry-content">' +
                                '                                <div class="entry themeform">' +
                                '                                    <p>' + v.content+
                                '                                    </p><p><a href="/index/article/detail?id='+v.id+'" class="more-link">Continue reading…</a></p>' +
                                '                                </div>' +
                                '                            </div>' +
                                '                        </div>' +
                                '                    </article>';
                        });
                        $('.yl_contents').append(html);

                        var count = json_result.data.count;
                        var total_page = Math.ceil(count/init_limit);
                        init_page_html(total_page);
                    }
                }
            });
        }

        function init_page_html(total_page){
            init_total_page = total_page;
            $('.pages').text('Page '+init_page+' of '+total_page);

            var page_html = '<a class="previouspostslink" rel="prev" href="javascript:void(0);">«</a>'
            for(var i=1;i<=total_page;i++){
                if(init_page == i){
                    page_html += '<a class="yl_current_page current page">'+i+'</a>';
                }else{
                    page_html += '<a class="page larger" title="Page '+i+'" href="javascript:void(0);">'+i+'</a>';
                }
            }
            page_html += '<a class="nextpostslink" rel="next" href="javascript:void(0);">»</a>';
            $('.yl_pages').html('');
            $('.yl_pages').html(page_html);
        }

        $('.yl_pages').on('click','a',function(){
            var page_text = $(this).text();
            var page_num = parseInt(page_text);
            var current_page = init_page;
            if( (current_page <= 1 && page_text=='«') || (current_page>=init_total_page && page_text=='»') ){
                return false;
            }
            if(page_text == '«'){
                page_num = init_page - 1;
            }
            if(page_text=='»'){
                page_num = init_page + 1;
            }
            init_page = page_num;
            get_list(page_num,init_limit);
        });
    });

</script>
</html>
